# Virtual environment
venv/
env/
.venv/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Environment variables
.env

# Build / distribution
build/
dist/
*.egg-info/

# Logs
*.log

# IDE
.vscode/
.idea/

# OS
.DS_Store